.featured-img {
  width: auto;
  height: 50vh;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.featured-title {
  font-weight: bold;
  font-size: 4em;
  padding: 10px 20px;
  text-align: center;
}
