<div id="root">
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-icon class="p2">image</mat-icon>
      <span>Splashed</span>

      <span class="top-bar-spacer"></span>

      <a
        *ngFor="let item of navBarItems"
        [routerLink]="item.path"
        style="color: black"
      >
        <button mat-icon-button>
          <mat-icon class="p2">{{ item.icon }}</mat-icon>
        </button>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="content"><router-outlet></router-outlet></div>
</div>
