/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p2 {
  padding: 4px;
}

.content {
  margin-top: 10px;
  align-self: center;
  flex: 1;
  width: 50%;
}

@media (max-width: 1000px) {
  .content {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .content {
    width: 95%;
  }
}
